<div class="">
        <h5>Bachillerato</h5>
        <ul>
            <li class="information-list-item">
                <p class="fields-name">Nombre de la institución:</p>
                <p>{{studiesDataObj?.highSchool?.name}}</p>
            </li>
            <li class="information-list-item">
                <p class="fields-name">Carrera:</p>
                <p>{{studiesDataObj?.highSchool?.career}}</p>
            </li>
        </ul>
        <h5>Universidad</h5>
        <ul>
            <li class="information-list-item">
                <p class="fields-name">Nombre de la institución:</p>
                <p>{{studiesDataObj?.university?.name}}</p>
            </li>
            <li class="information-list-item">
                <p class="fields-name">Carrera:</p>
                <p>{{studiesDataObj?.university?.career}}</p>
            </li>
        </ul>
</div>
