.information-list-item {
    flex-direction: column;
    text-align: justify;
}

.fields-name {
    padding-right: 10px;
    color: blue;
    width: fit-content;
}

.lenguages-sections-grid {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, 30%);

}
