.body {
  background-color: #BAD7F9;
  width: 100%;
  padding-bottom: 20px;
}

.image-container {
  position: relative;
  width: 100vw;
  height: 400px;
}

.profile-photo {
  border-radius: 200px;
  height: 250px;
  width: 250px;
  position: absolute;
  z-index: 1;
  top: 75px;
  left: calc(50vw - 125px);
}

.profile-background {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 400px;
}

.screen {
  width: 90vw;
  height: 50vh;
  margin: auto;
  overflow: auto;
  background-color: #F4EFD5;
  border: 2px solid #3a3325;
  border-radius: 10px 0px 0px 10px;
  padding: 20px;
}
