<div class="body" [ngClass]="screenWidth <= 768 ? 'body-medium-screen': 'body-full-screen'">
  <article [ngClass]="screenWidth <= 768 ? 'about-md-screen' : 'about-full-screen'">
    <h4>Resumen</h4>
    <span>
      {{profileDataObj.about}}
    </span>
  </article>
  <hr>
  <article class="">
    <ul class="article-list">
      <h4>Habilidades</h4>
      <li *ngFor="let skillItem of profileDataObj.skills">
        <span>
          {{skillItem}}
        </span>
      </li>
    </ul>
  </article>
  <hr>
  <article class="">
    <ul class="article-list">
      <h4>Actitudes</h4>
      <li *ngFor="let attitudesItem of profileDataObj.attitudes">
        <span>
          {{attitudesItem}}
        </span>
      </li>
    </ul>
  </article>
  <hr>
  <article class="">
    <ul class="article-list">
      <h4>Aptitudes</h4>
      <li *ngFor="let aptitudesItem of profileDataObj.aptitudes">
        <span>
          {{aptitudesItem}}
        </span>
      </li>
    </ul>
  </article>
  <hr>
</div>
