.nav-bar {
  background-color: #EDDFDF;
  width: 80vw;
  padding-block: 7px;
  border-radius: 0px 0px 10px 10px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 0px 10px 20px black;
}

.show-bars-icon {
  font-size: 1.50rem;
  border: 1px solid black;
  padding-inline: 0.4rem;
  padding-block: 0.1rem;
  border-radius: 0.3rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.show-bars-icon:hover {
  background-color: aliceblue;
}

.hide-bars-icon {
  display: none;
}

.is-hidden {
  display: none;
}

.nav-full-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  list-style: none;
  background-color: #EDDFDF;
}

.nav-medium-screen {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
  background-color: #EDDFDF;
}

.nav-items {
  margin: 0.5rem;
}

.nav-items-link {
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
}

.nav-items-link span {
  padding-right: 0.5rem;
}

.active {
  background-color: #cfcccc;
  color: blue;
}
